*{
	margin:0;
	padding:0;
}
#Description{
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url('../img/Shoes-about.jpg');
    min-height: 800px;
}
#picture{
	padding: 10px;
	width: 50%;
	height: 650px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#text{
	font-size: 1.75em;
	color: white;
	font-family: 'Pacifico', cursive;
}
#text h2{
	font-family: 'Pacifico', cursive;
	padding-bottom: 0.3em;
	font-size: 3em;
}
#text p{
	line-height: 1.75em;
}
